    @media only screen and (max-width: 1280px) {
        .container-app {
            height: 100vh;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .mobile-menu {
            display: flex;
            position: sticky;
            position: -webkit-sticky;
        }
        .header-wrapper {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            overflow-x: auto;
            position: fixed;
            top: 0;
            right: 100%;
            background-color: var(--main-bg-color);
            z-index: 99;
            transition: right 0.3s ease-in-out;
        }
        .header-wrapper.active {
            right: 0;
        }
        .logo {
            font-size: 30px;
        }
        .mb-menu-close {
            display: block;
            position: absolute;
            right: 18px;
            top: 18px;
            z-index: 99;
        }
        .top-header {
            display: none;
        }
        .mid-header {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            height: unset;
        }
        .mid-header>* {
            margin-top: 15px;
        }
        .bottom-header {
            justify-content: flex-start;
        }
        .main-menu {
            justify-content: flex-start;
            flex-direction: column;
            height: unset;
        }
        .search {
            width: 100%;
        }
        .main-menu a {
            padding: 10px 0;
        }
        .mega-dropdown a>i {
            display: none;
        }
        .mega-content {
            position: relative;
            opacity: 1;
            visibility: visible;
            box-shadow: unset;
            padding-left: 45px;
            background-color: transparent;
        }
        .mega-content h3 {
            font-size: 15px;
            padding: 5px 0;
            margin: unset;
        }
        .mega-content ul>li>a {
            padding: 5px 0;
        }
        .mega-content .img-row {
            display: none;
        }
        .mb-menu-toggle {
            font-size: 25px;
        }
        .hero {
            --height: calc(80vh - ( var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size)));
            height: var(--height);
            margin-bottom: 60px;
        }
        .slide {
            flex-direction: column-reverse;
        }
        .slide>.info,
        .slide>.img {
            width: 100%;
        }
        .slide>.img>img {
            max-width: 300px;
        }
        .info-content p {
            display: none;
        }
        .info-content button {
            margin-top: unset;
        }
        .slide-next,
        .slider:hover .slide-next {
            right: 40%;
        }
        .slide-prev,
        .slider:hover .slide-prev {
            left: 40%;
        }
        .slide-prev,
        .slide-next {
            bottom: -70px;
            transform: unset;
            top: unset;
        }
        .header-wrapper::-webkit-scrollbar {
            display: none;
        }
        .product-btn {
            opacity: 1;
            visibility: visible;
        }
        .sp-item-info {
            padding-right: 35px;
        }
        .blog {
            flex-wrap: wrap;
        }
        .blog-img,
        .blog-info {
            width: 100%;
        }
         ::-webkit-scrollbar {
            display: none;
        }
        .filter-toggle-box {
            display: block;
        }
        .filter-col {
            position: fixed;
            width: 100%;
            background-color: var(--main-bg-color);
            z-index: 98;
            left: 100%;
            height: 80vh;
            overflow-y: scroll;
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
            transition: left 0.2s ease-in-out;
        }
        .filter-col.active {
            left: 0;
        }
        .pagination {
            justify-content: center;
        }
    }
    
    @media only screen and (max-width: 750px) {
        .hero {
            height: calc(77vh - ( var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size)));
            margin-bottom: 60px;
        }
        .info-content h2 {
            margin: unset;
            font-size: 40px;
        }
        .promotion {
            padding-top: 45px;
        }
        .promotion-box {
            height: unset;
        }
        .slide-next {
            left: 60%;
            transform: translateX(-60%);
        }
        .slide-prev {
            right: 60%;
            transform: translateX(-60%);
        }
    }